html {
  background-color: #000;
  font-family: sans-serif;
  overflow: hidden;
  overflow-y: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

#loading img {
  height: 75px;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

#intro1 {
  height: 100%;
  width: 100%;
}

#particle {
  height: 100%;
  width: 100%;
  background-image: url(../images/particle.png), url(../images/particle2.png), url(../images/particle3.png);
  opacity: 0.1;
  filter: alpha(opacity=10); /* For IE8 and earlier */
  animation: snow 20s linear infinite;
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
}

#jun-kath {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 512px;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
}

/* Large desktop */
@media (min-width: 1200px) {
  #jun-kath {
    width: 512px;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #jun-kath {
    margin-left: -230px;
    width: 512px;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #jun-kath {
    margin-top: -100px;
    width: 425px;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  #jun-kath {
    margin-left: -120px;
    width: 250px;
  }
}