html {
  display: block;
}

body {
    background: #ccffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    min-width: 1000px;
    width: 100%;
    overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 600px;
  height: auto;
  position: relative;
}

#doodle1 {
  position: absolute;
  top: 100px;
  left: 20px;
  width: 500px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter:  FlipH;
  -ms-filter: "FlipH";
}

#doodle2 {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 500px;
}

.polaroid-whole {
  margin: 0 auto;
  padding: 0;
  height: 419px;
  background: url('../images/polaroid.png') no-repeat;
}

.film {
  width: 513px;
  height: auto;
  margin: 0 auto;
  border: 3px solid #ccc;
  position: absolute;
  top: 0;
  margin-top: 100px;
}

.polaroid-film {
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.polaroid-image {
  width: 465px;
}

.polaroid-image img {
  width: 465px;
  box-shadow: inset 4px 0 4px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 4px 0 4px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 4px 0 4px 4px rgba(0,0,0,0.5);
}

.date {
  float: right;
}

/* Triggers */
#trigger_polaroid_pin {
  position: absolute;
  top: 670px;
}
