html {
  background-color: #000;
  font-family: 'Courgette', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0 !important;
  margin: 0 !important;
}

.hidden {
  display: none;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

#loading-img {
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}

#loading img {
  height: 75px;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

#intro1 {
  height: 100%;
  width: 100%;
  padding: none;
  border: none;
}

#intro1-content {
  background: url(../bg-images/polaroid-blurred-vignette.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#intro1-transition {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

#intro1-transition-bg {
  background: url(../bg-images/polaroid-desk-blurred.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}

.particle {
  height: 100%;
  width: 100%;
  background-image: url(../images/particle.png), url(../images/particle2.png), url(../images/particle3.png);
  opacity: 0.1;
  filter: alpha(opacity=10); /* For IE8 and earlier */
  animation: snow 20s linear infinite;
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
}

#jun-kath {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 512px;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
}

#click_here {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 200px;
  margin-left: -50px;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
}

#click_here a {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  border: 2px solid;
  border-radius: 40px;
  padding: 3px 20px 3px 20px;
  color: #aaa;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

#click_here a:hover{
  border-color: #fff;
  color: #666;
  background-color: rgba(255,255,255,0.7) ;
}

#story {
  position: fixed;
  width: 22500px;
  height: 100%;
  top: 0;
  left: 0;
  color: #333;
}

#story-content {
  width: 22500px !important;
  background: #e6e6e6;
  height: 100%;
  display: block;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

.scroll {
  width: 100%;
  height: 100%;
}

.front-slow {
  z-index: 2000;
  width: 15500px;
}

.front {
  z-index: 1000;
  width: 22500px;
}

.back {
  z-index: 100;
  width: 12500px;
}

.middle1 {
  z-index: 500;
  width: 20500px;
}

.middle2 {
  z-index: 750;
  width: 19500px;
}

/* start intro page*/
#sofa {
  position: absolute;
  bottom: -50px;
  left: 700px;
}

#heart-polaroid {
  width: 450px;
  margin-bottom: 200px;
  margin-left: 750px;
}

.intro-text {
  width: 500px;
  margin-left: 100px;
  font-size: 50px;
}
/* end intro page*/


/* start junkath sining <3 */
.sing {
  margin-left: 1500px;
}

.sing-text {
  position: absolute;
  width: 500px;
  font-size: 40px;
  top: 0;
}

.sing-text2 {
  position: absolute;
  width: 500px;
  font-size: 40px;
  top: 200px;
}

.sing-text3 {
  position: absolute;
  width: 500px;
  font-size: 40px;
  top: 400px;
}

#display-cabinet {
  position: absolute;
  height: 400px;
  bottom: -50px;
}
/* end junkath singing <3 */

/* start june college */
.jun-college {
  margin-left: 3300px;
}


#junerey-college-back {
  position: absolute;
  top: 0;
  margin-left: -600px;
}

#junerey-college-middle {
  position: absolute;
  top: 0;
  margin-left: -300px;
}

#junerey-college-front {
  position: absolute;
  top: 0;
  margin-left: 300px;
}

.junerey-college-text {
  position: absolute;
  width: 900px;
  font-size: 50px;
  top: 450px;
  margin-left: 800px;
}

/* end june college */

/* start kath college*/
.kath-college {
  margin-left: 5500px;
}

.kath-college-text {
  position: absolute;
  width: 400px;
  font-size: 50px;
  top: 100px;
  margin-left: 650px;
}

#kath-college-front {
  position: absolute;
  top: -50px;
}

#kath-college-middle {
  position: absolute;
  top: -350px;
  margin-left: -900px;
}

#kath-college-back {
  position: absolute;
  top: -500px;
  margin-left: -2300px;
}
/* end kath college */

/* start junerey code */
.junerey-code {
  margin-left: 4500px;
}

.junerey-code-text {
  position: absolute;
  top: 0;
  font-size: 50px;
  margin-left: 400px;
}

#junerey-code-middle {
  position: absolute;
  top: 0;
  margin-left: 1800px;
}

#junerey-code-front {
  position: absolute;
  top: -300px;
  margin-left: 3200px;
}
/* end junerey code*/

/* start kath teach */
.kath-teach {
  margin-left: 6300px;
}

.kath-teach-text {
  position: absolute;
  bottom: 0;
  font-size: 50px;
}

#kath-teach-back {
  position: absolute;
  top: -400px;
  margin-left: 2000px;
  width: 200px;
}

#kath-teach-front {
  position: absolute;
  top: -400px;
  margin-left: 3700px;
  width: 300px;
}
/* end kath teach*/

/* start heart break */
.heart-break {
  margin-left: 11600px;
}

.heart-break-text {
  width: 1000px;
  font-size: 35px;
  position: absolute;
  top: 100px;
}
/* end heart break */

/* start lu love */
.lu-love {
  margin-left: 13000px;
}

.lu-love-text {
  font-size: 40px;
  position: absolute;
  top: 0;
  width: 500px;
}

#lu-love-front {
  position: absolute;
  top: -600px;
  margin-left: 600px;
  width: 400px;
}

#lu-love-back {
  position: absolute;
  top: -200px;
  margin-left: -4100px;
}

#lu-love-middle {
  position: absolute;
  top: -100px;
  margin-left: -1500px;
}
/* end lu love */

/* Large desktop */
@media (min-width: 1200px) {
  #jun-kath {
    width: 512px;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #jun-kath {
    margin-left: -230px;
    width: 512px;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #jun-kath {
    margin-top: -100px;
    width: 425px;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  #jun-kath {
    margin-left: -120px;
    width: 250px;
  }
}